.text-green-weed {
    color: lightseagreen;
    font-family: "Oxanium";
    transition: all .3s;
}

.text-green-weed:hover {
    color: lightseagreen;
    transform: scale(1.15, 1.15);
}

.navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
}

.navbar-toggler:active {
    box-shadow: .01rem .01rem 2rem rgb(0, 0, 0);
}

.navbar-toggler {
    box-shadow: .01rem .01rem 2rem rgb(132, 231, 218);
}

.navbar-brand {
    transition: all .4s;
}

.navbar-brand:hover {
    color: rgb(21, 77, 74);

}

.navbar-dark {
    background-color: #2c4c6d;
}